@import url(../fonts/robotocondensed/robotocondensed.css);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    position: relative;
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

h1 {
    font-size: 44px;
    color: #fff;
}

h2, h3 {
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    color: #000;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

a {
    text-decoration: none;
}

.text, .text_big, .additional_text, .additional_text_red, .additional_text_mini {
    font-weight: 300;
}

.text, .text_big {
    color: rgba(0, 0, 0, 0.8);
}

.text {
    font-size: 15px;
}

.text_big {
    font-size: 18px;
}

.additional_text, .additional_text_red {
    font-size: 14px;
}

.additional_text {
    color: rgba(0, 0, 0, 0.7);
}

.additional_text_red {
    color: #ff4546;
}

.additional_text_mini {
    font-size: 12px;
}

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 255px;
    height: 45px;
    border: 2px solid;
    font-size: 18px;
}

.btn_border_black {
    border-color: #000;
}

.btn_border_red {
    border-color: #FF4546;
}

.btn_transparent {
    background-color: transparent;
    color: #FF4546;
}

.btn_red {
    background-color: #FF4546;
    color: #fff;
}

.project-card {
    max-width: 540px;
    padding-top: 25px;
    padding-bottom: 60px;
    border-top: 1px solid #000;
}

.project-card:hover .project-btn-group {
    visibility: visible;
}

.project-card .icon {
    margin-right: 15px;
}

.project-card .project-card-header {
    margin-bottom: 25px;
}

.project-card .project-card-header .city {
    font-weight: normal;
}

.project-card .project-img {
    width: 100%;
}

.project-card .descriptions {
    margin-top: 20px;
}

.project-card .location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.project-card .characteristics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
}

.project-card .characteristics-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.project-card .characteristics-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.project-card .project-btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 15px;
    visibility: hidden;
}

@media (max-width: 1125px) {
    .project-card {
        width: 520px;
    }
}

@media (max-width: 1085px) {
    .project-card {
        width: 500px;
    }
}

@media (max-width: 1045px) {
    .project-card {
        width: 540px;
        margin: 0 auto;
    }
}

@media (max-width: 900px) {
    .project-card .project-btn-group {
        visibility: visible;
    }
}

@media (max-width: 570px) {
    .project-card {
        width: 100%;
        padding-bottom: 45px;
    }

    .project-card .project-btn-group {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .project-card .btn-project {
        width: 100%;
    }

    .project-card .btn-project:first-child {
        margin-bottom: 15px;
    }
}

.header {
    position: fixed;
    width: 100%;
    height: 73px;
    z-index: 2;
}

.header.not-main-page {
    border-bottom: 0.5px solid #000;
    background-color: #fff;
}

.header.main-page {
    border-bottom: none;
    background-color: transparent;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .btn-mobile-menu {
    display: none;
}

.header .btn-mobile-menu-icon {
    width: 23px;
    height: 16px;
    cursor: pointer;
    z-index: 110;
}

.header .btn-mobile-menu-icon.not-main-page {
    fill: #000;
}

.header .btn-mobile-menu-icon.main-page {
    fill: #fff;
}

.header .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    min-width: 100%;
    min-height: 100vh;
    padding: 15px;
    background-color: #fff;
    z-index: 100;
}

.header .mobile-menu .menu-link {
    height: 20px;
    margin-bottom: 24px;
}

.header .mobile-menu .menu-link.main-page {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

.header .mobile-menu-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}

.header .mobile-menu-header .btn-mobile-menu-icon {
    fill: #000;
}

.header .btn-mobile-menu-close {
    cursor: pointer;
}

.header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 480px;
    height: 100%;
}

.header .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
}

.header .menu-link.not-main-page {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

.header .menu-link.not-main-page.active {
    -webkit-box-shadow: inset 0 -4px 0 0 #000;
    box-shadow: inset 0 -4px 0 0 #000;
}

.header .menu-link.not-main-page:hover {
    -webkit-box-shadow: inset 0 -4px 0 0 #000;
    box-shadow: inset 0 -4px 0 0 #000;
    text-shadow: 0.5px 0 0 #000;
    color: #000;
}

.header .menu-link.main-page {
    color: #fff;
    font-weight: normal;
}

.header .menu-auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.header .menu-auth-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
}

.header .menu-auth-link.not-main-page {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
}

.header .menu-auth-link.not-main-page:hover {
    text-shadow: 0.5px 0 0 #000;
    color: #000;
}

.header .menu-auth-link.main-page {
    font-weight: normal;
    color: #fff;
}

.header .menu-auth-icon {
    display: none;
}

.header .menu-auth-user {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.header .menu-auth-user.not-main-page {
    fill: #000;
    opacity: 0.6;
}

.header .menu-auth-user.main-page {
    fill: #fff;
}

.header .menu-auth-line {
    width: 2px;
    height: 32px;
    margin: 0 10px;
    opacity: 0.6;
}

.header .menu-auth-line.not-main-page {
    stroke: #000;
}

.header .menu-auth-line.main-page {
    stroke: #fff;
}

@media (max-width: 900px) {
    .header .menu-auth-link {
        display: none;
    }

    .header .menu-auth-line {
        display: none;
    }

    .header .menu-auth-user {
        display: none;
    }

    .header .menu-auth-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-size: 18px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
    }

    .header .menu-auth-icon:hover {
        text-shadow: 0.5px 0 0 #000;
        color: #000;
    }

    .header .menu-auth-icon > .menu-auth-user {
        display: block;
        margin-right: 0;
    }
}

@media (max-width: 759px) {
    .header {
        height: 50px;
    }

    .header .menu {
        display: none;
    }

    .header .menu-link.not-main-page:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .header .btn-mobile-menu {
        display: block;
    }
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 63px;
    height: 41px;
}

.logo .not-main-page {
    width: 63px;
    height: 41px;
    fill: #000;
}

.logo .main-page {
    width: 43px;
    height: 28px;
    fill: #fff;
}

@media (max-width: 759px) {
    .logo {
        width: 46px;
        height: 30px;
    }
}

.main .slider {
    height: 100vh;
    max-height: 116vw;
}

.main__slider-container {
    width: 100%;
    height: 130vw;
    max-height: 100vh;
    background: #61dafb;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider .slider__nav {
    position: absolute;
    height: 100%;
    right: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.slider .slider__nav-point {
    width: 8px;
    height: 8px;
    box-sizing: border-box;
    border: solid white 2px;
    margin: 16px 0;
}

.slider .slider__nav-point_current {
    background: white;
}

.slider__panel {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.slider__panel .slider__part {
    width: 50%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    transition: all 1s;
}

.slider__panel .slider__part img {
    width: 200%;
    height: 200%;
    object-fit: cover;
    object-position: center center;
    position: absolute;
}

.slider__panel .slider__part .slider__part-1 {
    top: 0;
    left: 0;
}

.slider__panel .slider__part .slider__part-2 {
    top: 0;
    right: 0;
}

.slider__panel .slider__part .slider__part-3 {
    bottom: 0;
    left: 0;
}

.slider__panel .slider__part .slider__part-4 {
    bottom: 0;
    right: 0;
}

.slider__panel .slider__part.slider__part-1 {
    top: 0;
    left: -100%;
    transition-delay: 0s;
    transition-duration: 1s;
}

.slider__panel .slider__part.slider__part-2 {
    top: 0;
    right: -100%;
    transition-delay: 0.1s;
    transition-duration: 1s;
}

.slider__panel .slider__part.slider__part-3 {
    bottom: 0;
    left: -100%;
    transition-delay: 0.2s;
    transition-duration: 1s;
}

.slider__panel .slider__part.slider__part-4 {
    bottom: 0;
    right: -100%;
    transition-delay: 0.3s;
    transition-duration: 1s;
}

.slider__panel_current .slider__part.slider__part-1 {
    top: 0;
    left: 0;
    transition-delay: 0s;
    transition-duration: 0s;
}

.slider__panel_current .slider__part.slider__part-2 {
    top: 0;
    right: 0;
    transition-delay: 0s;
    transition-duration: 0s;
}

.slider__panel_current .slider__part.slider__part-3 {
    bottom: 0;
    left: 0;
    transition-delay: 0s;
    transition-duration: 0s;
}

.slider__panel_current .slider__part.slider__part-4 {
    bottom: 0;
    right: 0;
    transition-delay: 0s;
    transition-duration: 0s;
}

#next, #prev{
cursor: pointer;
}

.take-part{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;

    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
#down{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3%;
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
}

@media (min-width: 760px){
    .take-part{
        font-size: 44px;
        line-height: 52px;
    }
}


@media (max-width: 759px) {
    .slider .slider__nav {
        display: none;
    }

    .slider .slider__nav svg {
        transform: rotate(-90deg);
    }

    .slider .slider__nav-point {
        margin: 16px;
    }
}

.main .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 60px 0 90px;
}

.main .advantages-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 221px;
}

.main .advantage-img {
    width: 70px;
    height: 70px;
}

.main .advantage-title {
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}

.main .projects-header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px;
}

.main .btn-filter-projects {
    cursor: pointer;
}

.main .filter-form {
    position: absolute;
    top: -45px;
    left: -46px;
    display: none;
    width: 585px;
    height: 300px;
    padding: 45px 45px 0 45px;
    background-color: #ffffff;
    border: 1px solid #000;
}

.main .filter-form-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main .btn-filter-projects-close {
    cursor: pointer;
}

.main .btn-new-project {
    color: #000;
}

.main .projects-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 70px;
}

.main .projects-horizontal-line {
    width: 100%;
    margin-left: 15px;
    size: 1px;
    color: #000;
}

.main .projects-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .main .advantages-item {
        width: 150px;
    }

    .main .advantage-img {
        width: 60px;
        height: 60px;
    }

    .main .advantage-title {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .main .advantages {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main .advantages-item {
        width: 130px;
    }

    .main .advantage-img {
        width: 55px;
        height: 55px;
    }

    .main .advantage-title {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .main .advantages-item {
        width: 50%;
        margin-bottom: 25px;
    }

    .main .advantage-title {
        width: 130px;
    }
}

.past {
    height: 3000px;
}

.footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 30px 0;
    background-color: #ececec;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer .menu {
    max-width: 215px;
}

.footer .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;
    line-height: 13px;
}

.footer .menu-link:hover {
    text-shadow: 0.5px 0 0 #000;
    color: #000;
}

.footer .menu-link:last-child {
    margin-bottom: 0;
}

.footer .social {
    height: 100%;
}

.footer .social-icon {
    margin-top: 10px;
}

.footer .social-icon .icon {
    width: 25px;
    height: 25px;
    fill: #000;
    opacity: 0.6;
}

.footer .social-icon .icon:hover {
    opacity: 1;
}

.footer .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.footer .phone {
    font-size: 18px;
    color: #000;
    opacity: 0.6;
}

.footer .phone:hover {
    opacity: 1;
}

@media (max-width: 699px) {
    .footer {
        padding: 15px 0;
    }

    .footer .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer .menu-main {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        margin-bottom: 15px;
    }

    .footer .menu-conditions {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        margin-bottom: 15px;
    }

    .footer .social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        margin-bottom: 15px;
    }

    .footer .contact {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 15px;
    }

    .footer .phone {
        opacity: 1;
    }

    .footer .copyright {
        display: none;
    }

    .footer .menu-link {
        text-align: center;
    }

    .footer .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 1139px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 759px) {
    .container {
        width: 100%;
    }
}
