.modal-sign-in {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh; }
  .modal-sign-in .container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .modal-sign-in .modal-content {
    width: 480px;
    height: 480px;
    padding: 25px;
    background-color: #fff; }
  .modal-sign-in .modal-content-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px; }
  .modal-sign-in .btn-modal-close {
    cursor: pointer; }
  .modal-sign-in .title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700; }
