.new_project
  padding-top: 73px
  font-weight: 300
  .about_new_project
    display: flex
  .new_project_information
    width: 100%
  .new_project_header
    margin-top: 60px
    position: relative
  .arrow_new_right
    width: 380px
    text-align: center
  .project_content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  .text_category
    padding-top: 30px
  .new_project_top
    display: flex
    margin-top: 35px
    width: 100%
  .category_checkbox
    width: 255px
    height: 105px
    border: 1px solid rgba(0, 0, 0, 0.7)
    display: flex
    flex-direction: column
    justify-content: space-around

  .input_top
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin: 10px
  .input_middle
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin: 10px
  .input_bottom
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin: 10px

  .input_top
    input
      vertical-align: top
  .input_top
    label
      vertical-align: top
  .input_middle
    input
      vertical-align: middle
  .input_middle
    label
      vertical-align: middle
  .input_bottom
    input
      vertical-align: bottom
  .input_bottom
    label
      vertical-align: bottom

  .new_project_category
    padding-left: 10px
  .project-line
    width: 285px
    border-bottom: 1px solid rgba(0, 0, 0, 0.7)
    margin-bottom: 20px

  .shooting-duration
    padding: 30px 0 0 30px

  .new_project_address
    display: flex
    flex-direction: row
    width: 100%
    .label_city
      display: flex
      flex-direction: column
      margin-top: 12px
      input
        border: none
        margin: 10px 0 0 0
    .city-line
      width: 255px
      border-bottom: 1px solid rgba(0, 0, 0, 0.7)
      margin-bottom: 18px
    .label_address
      display: flex
      flex-direction: column
      margin: 12px 0 0 30px
      input
        border: none
        margin: 10px 0 0 0
    .address-line
      width: 286px
      border-bottom: 1px solid rgba(0, 0, 0, 0.7)
      margin-bottom: 18px

  .duration_time
    display: flex
    flex-direction: column
    justify-content: space-around
    border: 1px solid rgba(0, 0, 0, 0.7)
    width: 255px
    height: 104px
    margin: -18px 0 0 0

  .new_project_map
    margin-top: 5px

  .how_to_get
    display: flex
    flex-direction: column
    margin-top: 30px
    width: 100%
    .label_city_middle
      display: flex
      flex-direction: column
      input
        border: none
        margin: 10px 0 0 0
    .city-line
      width: 100%
      border-bottom: 1px solid rgba(0, 0, 0, 0.7)
      margin-bottom: 18px

  .leftstr
    float: left

  .rightstr
    text-align: right
    text-decoration: underline

  .address-1
    margin: 20px 0 0 0
  .new_project_time
    display: flex
    flex-direction: row
    margin: 12px 0 0 30px

  .time-spending
    display: flex
    width: 360px
    margin: 0 0 0 30px
    .time-spending-hours
      width: 25px
      border-top: none
      border-right: none
      border-left: none
      border-bottom: 1px solid rgba(0, 0, 0, 0.7)

  .descr
    margin: 0

  .time-dropdown
    background-color: #ffffff
    opacity: 50%
  .input-time
    margin: 7px 0 0 0

  .input-time-span
    margin-left: 13px
  .input-time-space
    margin-left: 23px

  .address_city-plus-interval
    width: 160px
    margin-left: 30px

  .processing-time
    margin: 0 0 0 30px
    .city-line
      width: 75px
    input
      width: 75px
  datalist
    width: 25px
  .input-processing-time
    display: flex
    flex-direction: row
    p
      padding: 0 0 0 13px
  .city-line
    p
      padding: 0 0 0 65px

  .prepayment
    margin-left: 30px
  .payment_method
    margin-left: 30px

  .additional_wrap
    margin: 12px 0 0 0

  .additional_services
    display: flex
    flex-direction: row
    justify-content: space-between

  .additionally
    label
      vertical-align: top
      padding: 0 15px 0 15px

  .additional_services
    input
      margin: 0

  #square
    width: 65px
    height: 65px
    border: 1px solid rgba(0, 0, 0, 0.7)

@media (max-width: 1100px)
  .arrow_new_right
    display: none

    .new_project .project_content
      display: flex
      justify-content: space-around

@media (max-width: 970px)
  .new_project .new_project_information
    width: 100%
  .container
    width: 100%
  .project_content
    width: 100%

@media (max-width: 768px)

@media (max-width: 576px)
  .new_project_header
    margin-top: 15px
  .new_project_top
    flex-direction: column
  .project-line
    display: none
  .category_checkbox
    width: 100%


